{# app/Resources/views/inicio.html.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{% block titulo %}Adj Web{% endblock %}</title>
		<link type="text/css" rel="stylesheet" href="{{ asset('css/template.css') }}">
		<script src="{{ asset('js/jquery-1.11.0.js') }}" type="text/javascript"></script>
		<script src="{{ asset('js/pantalla.js') }}" type="text/javascript"></script>
		<script type="text/javascript">
			
		</script>
		{% block javascript %}
			
		{% endblock %}
	</head>
	<body>
		<div id="barralateral">
			{% block barralateral %}
			<ul>
				<li><a href="javascript: addItemBarraEstado('avances')">Avances</a></li>
				<li><a href="javascript: addItemBarraEstado('expedientes')">Expedientes</a></li>
			</ul>
			{% endblock %}
		</div>
		<div id="contenido">
			{% block cuerpo %}{% endblock %}
		</div>
		<div id="barraestado">
			{% block barraestado %} {% endblock %}
		</div>
	</body>
	<script type="text/javascript">
		{% block javascriptbajo %}{% endblock %}
	</script>
</html>